@import url(reset.css);
@import url(fonts.css);
@import url(adaptive.css);

[class*="__container"]{
	max-width: 1203px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}
.wrapper > main{
	flex-grow: 1;
}

/* ====== header ======== */
.header{
	background-color: #174d5c;;
	color: #fff;
	text-align: center;
	font-size: 50px;
	padding: 30px;
}
/* --------- */

/* ====== page ========= */
.earrings {
	/* margin-bottom: 160px; */
	padding: 94px 0;
	background-color: #0e333d;
}
.earrings__block-header {
	max-width: 700px;
	margin: 0 auto 34px;
}
.block-header-earrigs {
	text-align: center;
	line-height: 1.27;
}
.header-block-earrigs__title {
	margin-bottom: 23px;
	font-family: "DM Serif Text", sans-serif;
	font-size: 48px;
	color: #fff;
}
.header-block-earrigs__subtitle {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #ebebeb;
}
.tabs__nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 41px;
	max-width: 700px;
	margin: 0 auto 77px;
}
.tabs__button {
	position: relative;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.27;
	transition: color .3s ease-in-out;
}
.tabs__button::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	background-color: #fff;
	transition: width .3s ease-in-out;
}
.tabs__button--active {
	color: #EBEBEB;
}
.tabs__button--active::before {
	width: 100%;
}
.tabs__container {
	display: none;
}
.tabs__container--active {
	display: block;
}
.earrings__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	margin: 0 -15px;
}
.earrings__column {
	padding: 0 15px;
	flex: 0 0 25%;
}
.item-earring {
	position: relative;
}
.item-earring__img {
	position: relative;
	margin-bottom: 17px;
	border-radius: 5px;
	overflow: hidden;
}
.item-earring__img::before {
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 0%;
	background-color: #33333366;
	transition: height .3s ease-in-out;
}
.item-earring__img img{
	width: 100%;
	height: 100%;
	aspect-ratio: 270 / 270;
	transform: scale(1.01);
	transition: transform .3s ease-in-out;
}
.item-earring__name {
	margin-bottom: 4px;
}
.item-earring__link {
	font-weight: 700;
	line-height: 1.4;
	transition: color .3s ease-in-out;
	color: #fff;
}
.item-earring__link::before {
	content: '';
	position: absolute;
	z-index: 2;
	inset: 0;
}
.item-earring__price {
	position: relative;
	z-index: 3;
	font-weight: 700;
	line-height: 1.4;
	color: #fff;
}
/* =============================================== */

.gold-earrings {
	padding: 100px 0px;
	background-color: #fff;
}
.block-header-gold-earrings {
	max-width: 700px;
	margin: 0 auto 62px;
	text-align: center;
}
.block-header-gold-earrings__title {
	margin-bottom: 27px;
	color: #291403;
	font-family: 'DM Serif Text', sans-serif;
	font-size: 58px;
	line-height: 1;
}
.block-header-gold-earrings__subtitle {
	color: #818181;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.4;
}
.gold-earrings__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	margin: 0 -15px 76px;
}
.gold-earrings__column {
	flex: 0 0 25%;
	padding: 0 15px;
}
.item-gold-earring {
	position: relative;
}
.item-gold-earring__img {
	margin-bottom: 17px;
	overflow: hidden;
}
.item-gold-earring__img img {
	width: 100%;
	height: 100%;
	aspect-ratio: 270 / 270;
	object-fit: contain;
	transform: scale(1.01);
	transition: transform .3s ease-in-out;
}
.item-gold-earring__name {
	margin-bottom: 5px;
}
.item-gold-earring__link,
.item-gold-earring__price {
	color: #000;
	font-weight: 700;
	line-height: 1.4;
}
.item-gold-earring__link {
	transition: color .3s ease-in-out;
}
.item-gold-earring__link::before {
	content: '';
	position: absolute;
	z-index: 2;
	inset: 0;
}
.item-gold-earring__price {
	position: relative;
	z-index: 3;
}
.gold-earrings__wrap-button {
	text-align: center;
}
.gold-earrings__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 43px;
	background-color: #FF7A49;
}
.gold-earrings__button:hover {
	background-color: #EBEBEB;
	transition: height .3s ease-in-out;
}
.gold-earrings__button span {
	position: relative;
	font-family: 'Inter';
	font-size: 16px;
	font-weight: 500;
	line-height: 1.87;
	transition: color .3s ease-in-out;
}
/* ====================================== */

.rings {
	padding: 100px 0px;
	background-color: #FEFAF4;
	position: relative;
}
.rings::after {
	content: '';
	position: absolute;
	display: none;
	z-index: 1;
	right: -130px;
	bottom: 0;
	width: 340px;
	height: 418px;
	background: url('../img/pngegg1.svg') right bottom / cover no-repeat;
}
.block-header-rings {
	margin-bottom: 53px;
}
.block-header-rings__title {
	margin-bottom: 27px;
	color: #000;
	font-family: 'DM Serif Text', sans-serif;
	font-size: 58px;
	line-height: 1;
}
.block-header-rings__subtitle {
	color: #606060;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	line-height: 1.8;
}
.rings__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	margin: 0 -24px;
}
.rings__column {
	flex: 0 0 33.3333%;
	padding: 0 24px;
}
.item-ring {
	position: relative;
}
.item-ring__img {
	width: 100%;
	margin-bottom: 16px;
}
.item-ring__img img{
	width: 100%;
	height: 100%;
	aspect-ratio: 357 / 240;
}
.item-ring__name {
	margin-bottom: 16px;
}
.item-ring__link {
	color: #000;
	font-family: 'DM Serif Text', sans-serif;
	transition: color .3s ease-in-out;
}
.item-ring__text {
	margin-bottom: 8px;
	color: #000;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}
.item-ring__bottom {
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 15px;
}
.item-ring__more {
	flex: 1 1 auto;
	color: #F55529;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 1.5;
	transition: color .3s ease-in-out;
}
.item-ring__more::before {
	content: '';
	position: absolute;
	z-index: 1;
	inset: 0;
}
.item-ring__arrow {
	flex: 0 0 24px;
	fill: #F55529;
	transition: transform .3s ease-in-out;
}
.item-ring__arrow path + path {
	fill: #fff;
}
/* ----------------------------------- */

.why-choose {
	background-color: #37393F;
}
.why-choose__container {
	display: flex;
	gap: 92px;
	max-width: 100%;
	padding: 0;
	padding-left: max(15px, calc((100% - 1173px) / 2));
	margin: 0;
}
.why-choose__content {
	flex: 0 1 610px;
	align-self: center;
	padding: 138px 0;
}
.why-choose__label {
	position: relative;
	margin-bottom: 13px;
	padding-left: 18px;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}
.why-choose__label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	width: 12px;
	height: 12px;
	background-color: #40DDB6;
}
.why-choose__title {
	margin-bottom: 13px;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.21;
	color: #fff;
}
.why-choose__text {
	margin-bottom: 36px;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 1.46;
}
.why-choose__text p{
	color: #fff;
}
.why-choose__text p:not(:last-child) {
	margin-bottom: 15px;
}
.why-choose__statistics {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	margin: 0 -7.5px 36px;
}
.why-choose__counter {
	flex: 1 0 50%;
	padding: 0 7.5px;
}
.counter__element {
	display: flex;
	align-items: center;
	gap: 12px;
	height: 100%;
	padding: 27px 30px;
	background-color: #2E2F34;
}
.counter__circle {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 79px;
	width: 79px;
	height: 79px;
	padding: 8px;
}
.counter__circle svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.counter__value {
	position: relative;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}
.counter__label {
	margin-bottom: 4px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.35;
	color: #fff;
}
.coounter__title {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.why-choose__points {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	row-gap: 20px;
	margin: 0 -18.5px;
}
.why-choose__point {
	flex: 0 0 50%;
	padding: 0 18.5px;
}
.point-why-choose__text {
	position: relative;
	padding-left: 35px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	line-height: 1.4;
}
.point-why-choose__text span {
	font-weight: 700;
}
.point-why-choose__text::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 27px;
	height: 27px;
	background-image: url('../img/Vector.svg');
}
.point-why-choose__text,
.point-why-choose__rating {
	font-weight: 400;
	color: #fff;
}
.point-why-choose__rating {
	color: #FFB342;
}
.point-why-choose__rating span {
	display: inline-flex;
	align-items: center;
	gap: 2px;
	margin-right: 2px;
	font-weight: 400;
}
.point-why-choose__rating span::after {
	content: '';
	flex: 0 0 17px;
	width: 17px;
	height: 17px;
	background-image: url('../img/star.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.point-why-choose__link {
	position: relative;
	color: #40DDB6;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
}
.point-why-choose__link::before {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 2px;
	background-color: #40DDB6;
	transition: width .3s ease-in-out;
}
.why-choose__img {
	width: calc(100% - 610px - 92px);
}
.why-choose__img img {
	width: 100%;
	height: 100%;
}
/* ====== footer ======= */
.footer{
	background-color: #174d5c;;
	color: #fff;
	text-align: center;
	font-size: 50px;
	padding: 30px;
}
/* --------- */
