@import url(anime.css);
@import url(reset.css);

[class*="__container"]{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  font-family: "Causten" sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  margin: 34px 0 31px 0;
}
.header__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header__search {
  position: relative;
}
.header__input {
  display: inline-block;
  padding: 12px 15px 12px 85px;
  border-radius: 8px;
  background-color: #f6f6f6;
  max-width: 184px;
  width: 100%;
}
.header__search::before {
  content: "";
  background: url("../img/search.svg") 0 0 / 20px 20px no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 55px;
  top: calc(50% - 10px);
}
.header__input::placeholder {
  color: #807d7e;
  font-weight: 500;
}
.header__language {
	position: relative;
	padding: 12px 29px 12px 0;
}
.header__language:hover .header__lists{
	visibility: visible;
	opacity: 1;
}
.header__link {
	font-size: 18px;
  font-weight: 400;
	color: #333;
}
.header__link::after {
	position: absolute;
	content: "";
	top: 20px;
	right: 0;
	width: 10px;
	height: 5px;
	background: url("../img/Vector.svg") center / cover no-repeat;
	transition: transform 0.3s linear;
}
.header__language:hover .header__link::after{
	transform: rotate(-180deg);
}
.header__lists {
	position: absolute;
	right: 0;
	top: 100%;
	width: 100px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s linear;
}
.header__links {
	background-color: rgba(99, 75, 195, 0.682);
	padding: 10px;
	margin: -5px;
}
.header__choose {
	padding: 10px;
	color: #fff;
	transition: all 0.3s linear;
}
.header__links:hover .header__choose {
	color: #623b96;
}
.header__block{
	display: flex;
	align-items: center;
}
.header__buttons{
	padding-left: 60px;
}
.button {
  padding: 12px 48px;
  border-radius: 8px;
  background-color: #8a33fd;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out 0s, color 0.3s sease-in-out 0s;
}
.button:hover {
  background-color: #fff;
  color: #8a33fd;
  outline: 1px solid #8a33fd;
}
.button--white {
  border: 1px solid #3C4242;
  color: #8a33fd;
  background-color: #fff;
}
.button--white:hover {
  background-color: #8a33fd;
  color: #fff;
  border: 1px solid transparent;
}
.men {
  padding-top: 50px;
}
.men__title {
  color: #3c4242;
  font-family: "Core Sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1px;
}
.men__title::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background-color: #8a33fd;
  margin-right: 20px;
  margin-bottom: -4px;
}
.men__title:not(:last-child) {
  margin-bottom: 70px;
}
.men__products {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.men__product {
  margin: 0 auto;
}
.product-men {
  flex: 0 1 270px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-men__image {
  border-radius: 10px;
  overflow: hidden;
}
.product-men__image img {
  width: 100%;
  transform: scale(1.0001);
  transition: transform 0.5s ease 0s;
}
.product-men__image img:hover {
  transform: scale(1.04);
}
.product-men__text-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
.product-men__title {
  color: #2A2F2F;
  font-weight: 700;
  line-height: 1.2;
  transition: color 0.3s ease 0s;
}
.product-men__title:hover {
  color: #8a33fd;
}
.product-men__title:not(:last-child) {
  margin-bottom: 5px;
}
.product-men__text {
  color: #7f7f7f;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
}
.product-men__text:not(:last-child) {
  margin-bottom: 5px;
}
.product-men__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.wishlist__container {
  max-width: 903px;
	margin-top: 100px;
}
.wishlist__title {
  color: #3C4242;
  font-family: "Core Sans";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.19;
}
.wishlist__title:not(:last-child) {
  margin-bottom: 50px;
}
.wishlist__items {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.item-wishlist {
  display: flex;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
}
.item-wishlist__close {
  cursor: pointer;
  background-color: #fff;
}
.item-wishlist__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 36px;
  color: #3c4242;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.44px;
  flex: 1 1 auto;
}
.item-wishlist__img {
  max-width: 110px;
  max-height: 110px;
  border-radius: 4px;
}
.item-wishlist__info-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.item-wishlist__title {
  text-transform: capitalize;
  transition: color 0.3s ease 0s;
}
.item-wishlist__title:hover {
  color: #6624bd;
}
.item-wishlist__color span,
.item-wishlist__quantity span {
  color: #807d7e;
  font-weight: 500;
}
.item-wishlist__price {
  color: #807D7E;
  font-family: Causten;
  font-size: 22px;
  font-weight: 700;
}
.wishlist-button {
  display: inline-block;
  padding: 14px 28px;
  background-color: #8a33fd;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.wishlist-button:hover {
  background-color: #fff;
	color: #8a33fd;
	outline: 1px solid #8a33fd;
}
.orders {
  margin: 100px 0px;
}
.orders__container {
  max-width: 895px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order__info-block {
  background: #f6f6f6;
  border-radius: 8px;
  padding: 28px 47px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.order__number {
  color: #3c4242;
  font-size: 20px;
  font-weight: 600;
}
.order__details {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #807d7e;
  font-size: 14px;
  font-weight: 600;
}
.order__details span {
  color: #bebcbd;
  font-size: 14px;
}
.order__part-left {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.order__part-right {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-end;
}
.product-order {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.product-order__inner {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  gap: 25px;
}
.product-order__img {
  max-width: 96px;
  max-height: 96px;
  border-radius: 4px;
}
.product-order__info-block {
  color: #3c4242;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-order__info-block span {
  color: #bebcbd;
  font-size: 14px;
}
.product-order__title {
  transition: color 0.3s ease 0s;
}
.product-order__title:hover {
  color: #6b36b1;
}
.product-order__title:not(:last-child) {
  margin-bottom: 5px;
}
.product-order__price {
  color: #807d7e;
  font-size: 14px;
}
.product-order__button {
  display: inline-block;
  padding: 14px 28px;
  border-radius: 8px;
  background-color: #8a33fd;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.product-order__button:hover {
  background-color: #fff;
  color: #8a33fd;
  outline: 1px solid #8a33fd;
}
.orders__line {
  width: 100%;
  height: 1px;
  background-color: #edeef2;
}
.orders__line:first-child,
.orders__line:last-child {
  display: none;
}
