@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");

@import url(fonts.css);
@import url(reset.css);

body{
    font-family: "Inter" sans-serif;
    font-size: 18px;
    background-color: #c2bebe;
}
.menu-list{
    background-color: #37393F;
}
.menu-link{
    font-weight: 300;
    font-size: 30px;
    color: #fff;
}
.main-text{
    margin-top: 20px;
}
.main-text h1{
    font-weight: 600;
    font-size: 30px;
    color: #37393F;
}
.main-text h2{
    font-size: 20px;
    font-weight: 600;
    color: #6B77E5;
}
.text{
    font-weight: 400;
    line-height: 1.5;
    color: #7D7D7D;
}
.main-Project{
    margin-top: 20px;
}
.main-Project h2{
    font-size: 40px;
    font-weight: 700;
    color: #37393F;
}
.main-Project p{
    font-weight: 400;
    color: #7D7D7D;
}
.main-Project ul{
    font-weight: 500;
    line-height: 1.5;
    color: #7D7D7D; 
}
.main-Project ol {
    font-weight: 500;
    line-height: 1.5;
    color: #7D7D7D; 
}

/* ===================================== */

.react{
    margin-top: 50px;
}
h3{
    font-family: "Cousten";
    font-size: 28px;
    font-weight: 700;
    color: red;
    text-shadow: -10px -19px 6px #000000;
    text-align: center;
    font-size: 54px;
}
.react-text{
    font-family: "Cousten";
    font-size: 28px;
    font-weight: 300;
}

.react-text p{
    color: rgb(173, 36, 168);
    text-shadow: 4px -3px 9px #c72020;
}