@import url(anime.css);
@import url(reset.css);

.car {
	width: 100%;
	height: 100%;
}
.car-container {
	position: relative;
	width: 900px;
	height: 250px;
	top: 40%;
	left: 25px;
}
.roof {
	position: absolute;
	margin-left: 248px;
	width: 321px;
	height: 17px;
	background: linear-gradient(0deg, rgba(253,187,45,1) 14%, rgba(34,76,195,1) 76%);
	border-radius: 10px 10px 0 0;
	z-index: 15;
	border-bottom: 1px solid rgba(0, 0, 0, 0.535);
}
.rear-rack {
	position: absolute;
  z-index: 5;
  width: 61px;
  height: 110px;
  left: 216px;
  top: 10px;
  background-color: rgb(255 191 100);
  transform: skew(-35deg);
}
.rear-rack-window {
	position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.535);
	background-color: chartreuse;
  top: 65px;
  left: 218px;
  z-index: 10;
  transform: skew(-35deg);
}
.central-rack {
	position: absolute;
  z-index: 5;
  width: 10px;
  height: 106px;
  left: 420px;
  top: 12px;
  background-color: rgb(255 191 100);
}
.front-rack {
	position: absolute;
  z-index: 3;
  width: 14px;
  height: 132px;
  right: 300px;
  background-color: rgb(255 191 100);
  transform: rotate(-37deg);
}
.back-door {
  position: absolute;
  left: 239px;
  top: 117px;
  width: 182px;
  height: 128px;
  background: linear-gradient(90deg, rgba(158,134,109,1) 3%, rgba(131,58,180,1) 47%, rgba(252,176,69,1) 100%);
  border-radius: 5px 5px 0 80px;
  border: 1px solid rgba(0, 0, 0, 0.535);
  border-right: 1px solid black;
	z-index: 7;
}
.door-handle{
	position: absolute;
  background-color: black;
  z-index: 15;
  width: 25px;
  height: 10px;
  border-radius: 0px 0px 5px 5px;
  top: 10px;
  left: 5px;
}
.back-window {
	position: absolute;
  left: 230px;
  top: 17px;
  width: 190px;
  border-bottom: 100px solid rgba(0, 0, 5, 0.9);
  border-left: 80px solid transparent;
  border-right: 0px solid transparent;
  z-index: 1;
}
.front-door {
	position: absolute;
  left: 420px;
  top: 117px;
  width: 205px;
  height: 128px;
  background: linear-gradient(90deg, rgba(158,134,109,1) 3%, rgba(131,58,180,1) 47%, rgba(252,176,69,1) 100%);
  border-radius: 5px 5px 0 0;
  z-index: 7;
  border: 1px solid rgba(0, 0, 0, 0.535);
  border-left: 1px solid black;
}
.front-window {
	position: absolute;
  left: 430px;
  top: 17px;
  width: 194px;
  border-bottom: 100px solid rgba(0, 0, 5, 0.9);
  border-left: 0px solid transparent;
  border-right: 80px solid transparent;
  z-index: 1;
}
.back-wing {
	position: absolute;
  left: 60px;
  top: 117px;
  width: 346px;
  height: 129px;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(158,109,109,1) 76%, rgba(252,176,69,1) 100%);;
  border-radius: 15px 5px 10px 15px;
  transform: skew(15deg, 0);
  border: 1px solid rgba(0, 0, 0, 0.535);
	z-index: 1;
}
.exhaust-pipe{
	width: 25px;
  height: 5px;
  position: absolute;
  z-index: 0;
  background-color: #000000ce;
  left: -18px;
  bottom: 0px;
  border-radius: 50px 0px 0px 20px;
}
.rear-bumper{
	width: 25px;
  height: 8px;
  position: absolute;
  z-index: 0;
  background-color: bisque;
  left: -10px;
  bottom: 20px;
  border-radius: 50px 0px 0px 20px;
}
.trunk {
	position: absolute;
  right: 88px;
  top: 113px;
  width: 180px;
  height: 7px;
  background-color: #89a3cc;
  border-radius: 5px 5px 0 5px;
  transform: skew(-25deg, 0);
  border: 1px solid rgba(0, 0, 0, 0.535);
	z-index: 5;
}
.front-wing {
	position: absolute;
  right: 94px;
  top: 118px;
  width: 371px;
  height: 127px;
  background: linear-gradient(90deg, rgba(158,134,109,1) 3%, rgba(131,58,180,1) 94%, rgba(252,176,69,1) 100%);
  border-radius: 5px 10px 30px 5px;
  transform: skew(-15deg);
  border: 1px solid rgba(0, 0, 0, 0.535);
	z-index: 1;
}
.turn-signal{
	position: absolute;
  width: 8px;
  height: 5px;
  transform: skew(-15deg);
  background-color: rgb(204, 135, 8);
  top: 16px;
  right: 17px;
  border-right: 1px solid bisque;
	z-index: 15;
}
.headlight{
	position: absolute;
  width: 5px;
  height: 30px;
  background-color: rgb(202, 190, 16);
  right: -4px;
  top: 10px;
  border-radius: 5px 20px 5px 5px;
  transform: skew(2deg);
}
.front-bumper{
	width: 25px;
  height: 8px;
  position: absolute;
  background-color: bisque;
  right: -10px;
  bottom: 20px;
  border-radius: 50px 0px 0px 20px;
	z-index: 0;
}
.hood {
	position: absolute;
  left: 43px;
  top: 117px;
  width: 140px;
  height: 7px;
  background-color: #89a3cc;
  border-radius: 15px 5px 0 15px;
  transform: skew(25deg, 0);
  border: 1px solid rgba(0, 0, 0, 0.535);
	z-index: 5;
}
.rear-wheel img {
	border-radius: 50%;
	position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.823);
  bottom: -42px;
  left: 145px;
  border: 2px solid black;
  border: 1px solid rgba(102, 101, 101, 0.616);
  box-shadow: 5px 5px 8px rgba(102, 101, 101, 0.416), -5px -5px 8px rgba(102, 101, 101, 0.416);
}
.dick {
	position: absolute;
  top: 25px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 15;
  background-color: darkgrey;
  border: 1px solid rgba(0, 0, 0, 0.582);
}
.fliper {
	position: absolute;
  top: 15px;
  left: 12px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 10;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.582);
}
.rear-light {
	position: absolute;
  width: 5px;
  height: 20px;
  background-color: rgb(146, 49, 32);
  left: -91px;
  top: -18px;
  border-radius: 5px 20px 5px 5px;
  transform: skew(15deg);
}
.front-wheel {
	position: absolute;
  border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.823);
  z-index: 10;
  bottom: 2px;
  right: 140px;
  bottom: -42px;
	box-shadow: 5px 5px 8px rgba(102, 101, 101, 0.416), -5px -5px 8px rgba(102, 101, 101, 0.416);
}